
body
{
    text-align:center;
    background-color:rgba(128, 128, 128, 0.10);
}
h1{
    text-decoration:underline;
}
#outerbox{
    background-color:rgba(0, 0, 0, 0.04);
    height:690px;
    width:530px;
    margin:50px 350px;;
    padding: 20px 60px ;
    
}
.innerbox{
    display:flex;
    justify-content:space-between;
    padding:10px 35px 10px 35px;
    font-size:18px;
}
.myinput{
    width:270px;
    height:32px;
}
textarea{
    height:80px;
    width:270px;
}
#subreset{
    padding-left:230px;
    padding-right:135px;
}
#mygender{
    padding-right:107px;
}
.address{
    font-size:14px;
    border:solid 1px grey;
    background-color:rgba(255, 255, 255, 0.47);
    padding:5px 9px;
    text-align:center;
}